{% extends "base.html" %} {% block title %}account{% endblock %} {% block
content %}
<style>
  #nmap_scans,
  #ffuf_scans,
  #scraping_scans {
    list-style-type: none;
    padding: 0;
  }
  .list-group-item {
    margin-bottom: 45px;
    text-align: left;
    border-bottom: 1px solid #eee;
    padding-bottom: 20px;
    margin-bottom: 8px;
  }
  .list-group-item li {
    margin-bottom: 8px;
  }
  .list-group-item strong,
  .target-info {
    display: inline-block;
    margin-bottom: 8px;
    margin-right: 10px;
  }
  .target-info {
    margin-top: 20px;
    display: block;
  }
  h3 {
    text-align: left;
    font-size: 24px;
    margin-bottom: 20px;
    border-bottom: 2px solid #ddd;
    padding-bottom: 10px;
  }
  .script-count-indent {
    margin-left: 20px;
  }
  .column {
    text-align: left;
    line-height: 1.5;
  }
  #dirbuster-column {
    border-right: 1px solid #ccc;
    border-left: 1px solid #ccc;
  }
  /* Reduced spacing for hostname and open ports */
  .hostname,
  .open-ports {
    margin-bottom: 0px; /* Adjust this value as needed */
  }
</style>
<div class="container-fluid">
  <h2 style="margin-top: 60px">- Account -</h2>
  <div
    class="user-info"
    style="
      display: flex;
      justify-content: space-around;
      align-items: center;
      font-size: 20px;
      margin-bottom: 20px;
    "
  >
    <span><strong>email:</strong> {{ current_user.email }}</span>
    <span
      ><strong>created on:</strong> {{
      current_user.date_created.strftime('%Y-%m-%d') }}</span
    >
    <span><strong>scans performed:</strong> {{ total_scans }}</span>
  </div>
  <div class="column-container" style="display: flex">
    <div class="column" style="flex: 1">
      <h3>Nmap Scans:</h3>
      <ul class="list-group list-group-flush" id="nmap_scans">
        {% for scan in nmap_scans %}
        <li class="list-group-item">
          <strong class="target-info">IP Address:</strong> {{ scan.target }}<br />
          <strong>date & time:</strong> {{ scan.date_created.strftime('%Y-%m-%d
          %H:%M:%S') }}<br />
          {% set nmap_results = scan.results | tojson | from_json %}
          <strong>command used:</strong> {{ nmap_results.nmap.command_line }}<br />
          <strong>results:</strong>
          {% if nmap_results.scan[scan.target] is defined %}
          <ul>
            <li class="hostname">
              <strong>hostname:</strong> {% for hostname in
              nmap_results.scan[scan.target].hostnames %}{{ hostname.name }}{%
              if not loop.last %}, {% endif %}{% endfor %}
            </li>
            <li class="open-ports">
              <strong>open ports:</strong>
              <ul>
                {% for port, data in nmap_results.scan[scan.target].tcp.items()
                if data.state == 'open' %}
                <li>
                  {{ port }}: {{ data.name }}{% if data.product %}, {{
                  data.product }}{% endif %}{% if data.version %}, version: {{
                  data.version }}{% endif %}
                </li>
                {% endfor %}
              </ul>
            </li>
          </ul>
          {% else %}
          <p>no scan results available.</p>
          {% endif %}
        </li>
        {% endfor %}
      </ul>
    </div>
    <div class="column" id="dirbuster-column" style="flex: 1">
      <h3>Dirbuster Scans:</h3>
      <ul class="list-group list-group-flush" id="dirbuster_scans">
        {% for scan in dirbuster_scans %}
        <li class="list-group-item">
          <strong class="target-info">target URL:</strong> {{ scan.target_url
          }}<br />
          <strong>date & time:</strong> {{ scan.date_created.strftime('%Y-%m-%d
          %H:%M:%S') }}<br />
          <strong>directories found:</strong>
          {% if scan.results and scan.results['found'] %}
          <ul>
            {% for directory in scan.results['found'] %}
            <li>/{{ directory }}</li>
            {% endfor %}
          </ul>
          {% else %}
          <p>No directories found or results format is not valid.</p>
          {% endif %}
        </li>
        {% endfor %}
      </ul>
    </div>
    <div class="column" id="scraping-column" style="flex: 1">
      <h3>Scrapings:</h3>
      <ul class="list-group list-group-flush" id="scraping_scans">
        {% for scan in scraping_scans %}
        <li class="list-group-item">
          <strong class="target-info">target URL:</strong> {{ scan.target_url
          }}<br />
          <strong>date & time:</strong> {{ scan.date_created.strftime('%Y-%m-%d
          %H:%M:%S') }}<br />
          {% if scan.results and scan.results is mapping %} {% for tag, count in
          scan.results.items() %}
          <div class="script-count-indent">
            <strong>{{ tag }} count:</strong> {{ count }}
          </div>
          {% endfor %} {% else %}
          <p>results format is not valid.</p>
          {% endif %}
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="button-container">
    <a href="{{ url_for('auth.logout') }}" class="auth-button" method="GET"
      >logout</a
    >
  </div>
</div>
{% endblock %}
