{% extends "base.html" %} {% block title %}Account{% endblock %} {% block
content %}
<h2 style="margin-top: 60px">- Account -</h2>

<p style="margin-top: 10px">
  This is your account page. Here you can see your personal information. Your
  password will be always safely encrypted on a database created locally on your
  machine.
</p>
<p>
  --- IF THIS PAGE IS EMPTY IS BECAUSE YOU EITHER DON'T HAVE AN ACCOUNT OR
  SIMPLY AREN'T LOGGED IN ---
</p>
<div class="button-container">
  <a href="{{ url_for('auth.logout')}}" class="auth-button" method="GET"
    >logout</a
  >
</div>
{% endblock %}
