{% extends "base.html" %} {% block title %}dashboard{% endblock %} {% block
content %}
<h2>- Dashboard -</h2>
<style>
  .dashboard-panel {
    background-color: #1a1a1a;
    border-radius: 5px;
    border: 1px solid #fff;
    padding: 10px;
    margin: 10px;
    text-align: left;
    display: inline-block;
  }
  .dashboard-button {
    text-decoration: none;
    color: #fff;
    background-color: #007bff;
    padding: 5px 10px;
    border-radius: 3px;
    display: inline-block;
  }
  .column {
    flex: 0 1 auto;
    width: 30%;
    padding: 20px;
    text-align: left;
    line-height: 1.5;
  }
  .column-container {
    display: flex;
    justify-content: space-around;
  }
  .column:last-child {
    border-right: none;
  }
</style>
<div class="dashboard-container">
  <div class="column-container" style="display: flex">
    <div class="column" style="flex: 1">
      <div class="dashboard-panel">
        <h3>Nmap</h3>
        <p>To execute an nmap scan click on this panel.</p>
        <a href="{{ url_for('attacks.nmap_scan') }}" class="dashboard-button"
          >Go to Nmap</a
        >
      </div>
    </div>
    <div class="column" style="flex: 1">
      <div class="dashboard-panel">
        <h3>Dirbuster</h3>
        <p>To execute a dirbuster scan click on this panel.</p>
        <a href="{{ url_for('attacks.dirbuster') }}" class="dashboard-button"
          >Go to Dirbuster</a
        >
      </div>
    </div>
    <div class="column" style="flex: 1">
      <div class="dashboard-panel">
        <h3>Scraping</h3>
        <p>To execute a web scraping script click on this panel.</p>
        <a href="{{ url_for('attacks.scraping') }}" class="dashboard-button"
          >Go to Scraping</a
        >
      </div>
    </div>
  </div>
</div>
<div class="button-container">
  <a href="{{ url_for('auth.logout') }}" class="auth-button" method="GET"
    >logout</a
  >
</div>
{% endblock %}
