{% extends "base.html" %} {% block title %}home page{% endblock %} {% block
content %}
<style>
  .flex-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .column {
    border-right: 1px solid #ccc;
    padding: 20px;
    text-align: left;
    line-height: 1.3;
  }
  .column:last-child {
    border-right: none;
  }
  .column p {
    font-size: 18px;
  }
</style>
<h2 style="margin-top: 60px">- Welcome to the Apache Persuasion Hold API -</h2>
<div class="container-fluid flex-container">
  <div class="column" style="flex: 1">
    <p style="margin-top: 10px">
      This RESTful API is a tool that aims to speed up the reconnaissance step
      of the penetration testing process.<br />
      It includes an Nmap tool, a Dirbuster and an HTML scanner that identifies
      vulnerable tags using BeautifulSoup. <br />It was developed by Khadim
      Kante between November 2023 and March 2024 as the final project for his
      Cyber Security and Network degree from Glasgow Caledonian University.<br />The
      supervisor was professor David Hendry.<br />
    </p>
  </div>
</div>
{% if current_user.is_authenticated %}
<div class="button-container">
  <a href="{{ url_for('auth.logout') }}" class="auth-button" method="GET"
    >logout</a
  >
</div>
{% else %}
<div class="button-container">
  <a href="{{ url_for('auth.login')}}" class="auth-button" method="GET"
    >login</a
  >
  <a href="{{ url_for('auth.signup')}}" class="auth-button" method="GET"
    >signup</a
  >
</div>
{% endif %} {% endblock %}
