{% extends "base.html" %} {% block title %}nmap{% endblock %} {% block content
%}
<style>
  form {
    font-size: 2.3em;
  }
  form input,
  form button,
  form label {
    font-size: 1em;
    padding: 10px 20px;
    width: auto;
    height: auto;
  }
  .column {
    flex: 0 1 auto;
    width: 30%;
    padding: 20px;
    text-align: left;
    line-height: 1.5;
  }
  .column-container {
    display: flex;
    justify-content: space-around;
  }
  .column:last-child {
    border-right: none;
  }
  input#max_port,
  input#ip_address {
    width: 100%;
  }
  button[type="submit"] {
    margin-top: 20px;
  }
  form div:first-child {
    margin-bottom: 20px;
  }
  label[for="max_port"] {
    margin-top: 20px;
  }
</style>
<div class="button-container">
  <a href="{{ url_for('auth.logout') }}" class="auth-button" method="GET"
    >logout</a
  >
</div>
<h2>enter details for nmap scan</h2>
<div class="nmap-form-container">
  <div class="column-container" style="display: flex">
    <form action="{{ url_for('attacks.nmap_scan') }}" method="POST">
      <div>
        <label for="ip_address">IP address:</label>
        <input
          type="text"
          id="ip_address"
          name="ip_address"
          placeholder="format 123.123.123.123 | fe80::1"
          required
        />
      </div>
      <div>
        <label for="max_port">set max port range (optional):</label>
        <input
          type="number"
          id="max_port"
          name="max_port"
          min="1"
          max="65535"
          placeholder="default is 10000"
        />
      </div>
      <button type="submit">start nmap</button>
    </form>
  </div>
</div>
{% endblock %}
